{% capture html %}

    {% assign entries = include.context | sort: "order" %}
    {% for entry in entries %}

        {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
        {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
        {% if entry.title != "Home" %}
            <a class="sidebar-nav-item" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            {% if entry.subsections %}
            <ul>
                {% for sub in entry.subsections %}
                <li> <a href="{{ site.baseurl }}{{ entry.url }}#{{ sub | replace:" ","-" | downcase }}">{{ sub }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}

    {% endfor %}
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}