---
layout: default
title: Home
---

<h1> Kurikulum Algoritma </h1>

<p> Berikut adalah rangkuman kurikulum OSN 2017. Rangkuman ini juga disertai contoh soal. Rangkuman sengaja dibuat singkat, namun jika Anda ingin tahu lebih dalam mengenai topik tertentu, ataupun ingin tahu contoh-contoh soal lainnya, Anda dapat mengeklik topik yang diinginkan untuk mendapatkan penjelasan yang lebih mendalam. </p>


<div class="posts">
  {% assign entries = site.algoritma | sort: "order" %}
  <ol>{% for post in entries %}
    {% if post.title != "Home" %}
    <div class="post">
      <li> <h2 class="post-title"> 
        <a href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1> </li>
      {% assign excerpt = post.content | split: site.excerpt_separator %}

      {% assign full_content = "" %}

      {% for content in excerpt %} 
        {% assign tmp = forloop.index | modulo:2 %}
        {% if tmp == 1 %}
          {% assign full_content = full_content | append:content %}
        {% endif %}
      {% endfor %}
      {{ full_content | markdownify }}

      <a href="{{ site.url }}{{ post.url }}">
          Solusi serta soal-soal latihan lainnya tentang {{post.title}}
        </a>
    </div>
    {% endif %}
  {% endfor %}
  </ol>
</div>
